.dashboard-password-input {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 30px;
  width: 70%;
  max-width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #333;
}
.dashboard-password-input-change {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 30px;
  width: 70%;
  max-width: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.dashboard-password-input p {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.dashboard-password-input .error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.password-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.password-container p {
  width: 190px;
}

.show_password {
  cursor: pointer;
}
