.containar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.enter {
  position: relative;
  height: 60px;
}
.enter input {
  width: 440px;
  height: 60px;
  outline: none;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid #355f7a;
  background: transparent;
  font-size: 25px;
  font-family: "ArefRuqaa";
  transition: 0.5s ease;
}
.enter .label {
  position: absolute;
  left: 20px;
  top: 8px;
  font-family: "ArefRuqaa";
  font-size: 25px;
  color: #355f7a;
  background-color: #ffffff;
  text-align: center;
  line-height: 35px;
  user-select: none;
  border-radius: 10px;
  transition: 0.5s ease;
  pointer-events: none;
  width: fit-content;
}
.enter input:focus,
.enter input:valid {
  color: #355f7a;
  border: 2px solid #355f7a;
}
.enter input:focus + .label,
.enter input:valid + .label {
  z-index: 1111;
  position: absolute;
  top: 0px;
  color: #355f7a;
  height: 30px;
  line-height: 30px;
  transform: translate(-15px, -19px) scale(0.88);
  padding: 0 5px;
  left: 35px;
}
.enter .show_password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #355f7a;
  cursor: pointer;
  background-color: white;
  padding-left: 5px;
  box-sizing: border-box;
}
.enter .show_password:hover {
  color: #234b64;
}
