.centered-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* .new-row {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
} */
