.PdfPreview {
  position: relative;
  width: 22%;
  min-width: 400px;
  height: 40vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.5s all ease-in-out;
}
.abs {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(202, 43, 43);
  background-color: #e7e7e7;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}
.abs:hover {
  cursor: pointer;
  background-color: rgb(255, 204, 204);
}
.PdfPreview img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.PdfPreview div {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.PdfPreview div h2 {
  font-family: "Inknut Antiqua", serif;
  color: #355f7a;
  font-size: 20px;
}
.PdfPreview div p {
  font-family: "Inder", sans-serif;
  font-size: 15px;
  color: #555;
}
.PdfPreview h4 {
  font-family: "Inder", sans-serif;
  font-size: 15px;
  color: #555;
}
.PdfPreview:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #355f7a;
  cursor: pointer;
}
.loading-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.loading-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.loading-container h2 {
  font-family: "Inknut Antiqua", serif;
  color: #355f7a;
  font-size: 24px;
  margin: 0;
}
.loading-container p {
  font-family: "Inder", sans-serif;
  font-size: 16px;
  color: #555;
  margin: 0;
}
.cancel-button {
  padding: 10px 20px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.cancel-button:hover {
  background-color: #d1d1d1;
}
.delete-button {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #c0392b;
}
@media (max-width: 450px) {
  .PdfPreview {
    width: 90%;
    min-width: unset;
    height: 30%;
  }
  .PdfPreview div h2 {
    font-size: 18px;
  }
  .PdfPreview div p {
    font-size: 14px;
  }
  .PdfPreview h4 {
    font-size: 14px;
  }
}
