.pricing-input-div {
  width: 480px;
  height: 40px;
  border: 2px solid #355f7a;
  border-radius: 12px;
  padding: 5px 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  direction: rtl;
  box-sizing: border-box;
  gap: 5px;
}
.pricing-input-div input {
  border: none;
  outline: none;
  width: 125px;
  flex-shrink: 0;
  color: #355f7a;
  font-size: 20px;
  font-family: "ArefRuqaa";
  background-color: transparent;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input {
  width: 80% !important;
}
.pricing-input-div input:focus {
  outline: none;
  border: none;
}
.piece-div {
  width: 100px;
  flex-shrink: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piece {
  font-family: "ArefRuqaa";
  font-size: 25px;
  color: #355f7a;
  background: transparent;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}
.label {
  font-family: "ArefRuqaa";
  font-size: 20px;
  width: 40px;
  flex-shrink: 0;
  color: #b8b8b8;
  background: transparent;
  font-weight: bold;
  text-align: center;
}
.line {
  width: 2px;
  height: 40px;
  background-color: #355f7a;
  flex-shrink: 0;
}
@media (max-width: 710px) {
  .pricing-input-div {
    width: 420px;
  }
  .pricing-input-div input {
    width: 100px;
    font-size: 18px;
  }
  .piece {
    font-size: 22px;
  }
  .label {
    font-size: 18px;
  }
}

@media (max-width: 630px) {
  .pricing-input-div {
    width: 370px;
    gap: 4px;
  }
  .pricing-input-div input {
    width: 90px;
    font-size: 16px;
  }
  .piece {
    font-size: 20px;
  }
  .label {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .pricing-input-div {
    width: 320px;
    gap: 3px;
  }
  .pricing-input-div input {
    width: 60px;
    font-size: 15px;
  }
  .piece-div {
    width: 90px;
  }
  .piece {
    font-size: 18px;
  }
  .label {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .pricing-input-div {
    width: 280px;
    gap: 3px;
  }
  .pricing-input-div input {
    width: 40px;
    font-size: 14px;
  }
  .piece-div {
    width: 85px;
  }
  .piece {
    font-size: 17px;
  }
  .label {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .pricing-input-div {
    width: 250px;
    padding: 10px 5px;
  }
  .pricing-input-div input {
    width: 35px;
    font-size: 14px;
  }
  .piece {
    font-size: 14px;
  }
  .piece-div {
    width: 50px;
  }
  .label {
    font-size: 14px;
  }
}
