.RenderPricingTable {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-table-container {
  direction: rtl;
  display: flex;
  width: 80%;
  overflow-x: auto;
  box-sizing: border-box;
}
.pricing-table {
  flex-shrink: 0;
  border-collapse: collapse;
}
.pricing-table th {
  background-color: #355f7a;
  color: white;
  height: 60px;
  width: 94px !important;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}
.pricing-table td {
  border: 3px solid #ffffff;
  height: 60px;
  width: 94px !important;
  text-align: center;
  font-family: "inter";
  font-size: 16px;
  background-color: #a1cada;
  box-sizing: border-box;
}
.active:hover td {
  background-color: #000000;
  color: white;
}
.border_l {
  border-left: none !important;
}
.border_b {
  border-bottom: none !important;
}
.border_t {
  border-top: none !important;
}
.space {
  white-space: break-spaces;
}
@media (max-width: 710px) {
  .pricing-table th,
  .pricing-table td {
    width: 85px !important;
    font-size: 15px;
  }
}

@media (max-width: 630px) {
  .pricing-table th,
  .pricing-table td {
    width: 75px !important;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .pricing-table th,
  .pricing-table td {
    width: 65px !important;
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .pricing-table th,
  .pricing-table td {
    width: 58px !important;
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .pricing-table th,
  .pricing-table td {
    width: 50px !important;
    font-size: 11px;
  }
}
