.select {
  height: 60px;
  padding: 0 25px;
  position: relative;
  background: transparent;
  border: 2px solid #355f7a;
  font-family: "ArefRuqaa";
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #355f7a;
  margin-top: 10px;
  width: 440px;
  box-sizing: border-box !important;
  cursor: pointer;
}
.select-div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 710px) {
  .select {
    width: 400px;
    font-size: 23px;
  }
}

@media (max-width: 630px) {
  .select {
    width: 360px;
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .select {
    width: 300px;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .select {
    width: 270px;
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .select {
    width: 240px;
    font-size: 16px;
  }
}

@media (max-width: 340px) {
  .select {
    width: 220px;
    font-size: 15px;
  }
}

